.footer {
  font-family: "Cormorant Garamond", serif;
}

.footer a:hover {
  color: #fff !important;
}

.myFont {
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 1px;
}

.my-btn {
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  border-radius: 0;
  padding: 10px;
  transition: all 0.3s ease;
}
.border img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.border img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.btn-outline-dark:hover {
  background-color: #000;
  color: #fff;
  transition: 0.3s ease;
}